.navbar {
  padding-block: 20px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.navbarSecondary {
  border-bottom: 1px solid var(--border-color);
}

.separator {
  width: 1px;
  height: 20px;
  background-color: var(--border-color);
  margin-block: auto;
}

.dropNav {
  display: none;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
  .dropNav {
    display: block;
  }
}