.textTruncate {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card {
  border: none;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.imageStyle {
  height: 200px;
}