.textTruncate {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card {
  border: none;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.image {
  transition-duration: 2s;
}

.card:hover .image {
  transform: scale(1.2);
}