.bgGreen {
  color: white;
  background-color: #16d896;
  margin-right: 2%;
}
.bgBlue {
  color: white;
  background-color: #1b97f3;
  margin-right: 2%;
}
.bgYellow {
  color: white;
  background-color: #ffb100;
}
