:root {
  --main-color: #f26522;
  --main-hover: #e85a18;
  --second-color: #e8bc52;
  --bg-color: #f0f0f0;
  --border-color: #dddfe2;
  --text-color: #2b2a29;

}
* {
  box-sizing: border-box !important;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--main-color) !important;
}

.btn-primary:active {
  --bs-btn-active-bg: var(--main-color);
  --bs-btn-active-border-color: var(--main-color);
  --bs-btn-active-color: var(--bg-color);
}