:root {
  --main-color: #f26522;
  --main-hover: #e85a18;
  --second-color: #e8bc52;
  --bg-color: #2b2a29;
  --text-color: #f1f1f1;
  --text-secondary: #e4e4e4;
  --border-color: #E6E7EB;
}
* {
  box-sizing: border-box !important;
}

body {
  color: #666666;
  font-family: 'Poppins', sans-serif;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}