:root {
  --main-color: #f26522;
  --main-hover: #e85a18;
  --second-color: #e8bc52;
  --bg-color: #f0f0f0;
  --border-color: #dddfe2;
  --text-color: #2b2a29;

}
* {
  box-sizing: border-box!important;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--main-color) !important;
}

.btn-primary:active {
  --bs-btn-active-bg: var(--main-color);
  --bs-btn-active-border-color: var(--main-color);
  --bs-btn-active-color: var(--bg-color);
}

.nav-pills .nav-link {
  color: var(--main-color);
  transition-duration: 500ms;
  border-radius: 0;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:active {
  background-color: var(--main-color);
}

.form-select {
  border-color: var(--border-color);
}
.form-select:focus {
  outline: none !important;
  border:1px solid white;
  box-shadow: 0 0 10px rgb(192, 192, 192);
}